.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.home {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainstart {
  height: 90%;
  width: fit-content;
  min-height: 100% !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.mainstart>h1 {
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}

.mainstart>h4 {
  font-family: 'Poppins', sans-serif;
}

.mainstart > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.mainstart .chipshow {
  width: fit-content;
  padding: 8px 30px;
  border-radius: 8px;
  background-color: rgb(194, 30, 63);
  user-select: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: flex-end;
  font-weight: 300;
}


@media screen and (max-width: 480px) {
  .mainstart {
      font-size: 13px;
  }
  .mainstart>h4 {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .mainstart {
      font-size: 10px;
  }
}